/* spa-app: release */
html, body {
    height: 480px;
    width: 720px;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

.invisible {
    visibility: hidden; }

/* stb-app: release */
html, body {
    -webkit-user-select: none; }

/* mag-app: release */

.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 600px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 60px;
    bottom: 24px;
    display: table;
    z-index: 10; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tbody > tr > td {
            width: 28px; }
            .mag-component-footer > table > tbody > tr > td.central {
                width: 544px; }
                .mag-component-footer > table > tbody > tr > td.central > .wrapper {
                    height: 28px;
                    visibility: inherit; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 28px;
                        padding: 0 10px 0 7.5px; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.disabled {
                            opacity: 0.3; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button .title {
                            padding-left: 5px; }
            .mag-component-footer > table > tbody > tr > td .iconImg, .mag-component-footer > table > tbody > tr > td .iconImg:before {
                height: 28px;
                line-height: 28px;
                width: 28px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tbody > tr > td .title {
                display: block;
                float: right; }

.mag-component-layout-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    position: relative; }
    .mag-component-layout-list.hidden {
        display: none; }
    .mag-component-layout-list > .body > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 32px;
        line-height: 32px; }
    .mag-component-layout-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-layout-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .mag-component-layout-list > .body > .item > div {
        display: table;
        width: 100%; }
        .mag-component-layout-list > .body > .item > div > div {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            height: 100%; }
        .mag-component-layout-list > .body > .item > div > .number {
            width: 56px; }
    .mag-component-layout-list .noData {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .mag-component-layout-list .noData:before {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: ""; }
        .mag-component-layout-list .noData > div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            text-align: center; }
        .mag-component-layout-list .noData.hidden {
            visibility: hidden; }

.mag-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 10;
    visibility: visible; }
    .mag-component-modal.hidden {
        display: none; }
    .mag-component-modal.hidden {
        display: table;
        visibility: hidden; }
    .mag-component-modal.active > div > div > div.overlay {
        display: none; }
    .mag-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .mag-component-modal > div > div {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 80%;
            min-width: 172.5px;
            max-height: 80%; }
            .mag-component-modal > div > div > div.header {
                height: 45px;
                line-height: 45px;
                font-size: 24px;
                padding: 0 20px; }
                .mag-component-modal > div > div > div.header .text {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center; }
                    .mag-component-modal > div > div > div.header .text:empty {
                        padding: 0; }
            .mag-component-modal > div > div > div.body {
                position: relative; }
                .mag-component-modal > div > div > div.body > div .item {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px; }
            .mag-component-modal > div > div > div.overlay {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }

.stb-component-page {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 720px;
    height: 480px;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .stb-component-page.hidden {
        display: none; }
    .stb-component-page.active {
        visibility: inherit; }

.stb-component-scrollbar {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 4px;
    vertical-align: bottom;
    background-color: #bbb; }
    .stb-component-scrollbar.hidden {
        display: none; }
    .stb-component-scrollbar .thumb {
        display: block;
        width: 4px;
        min-height: 4px;
        background-color: #aaa; }
        .stb-component-scrollbar .thumb.hidden {
            display: none; }
    .stb-component-scrollbar.horizontal {
        display: block;
        height: 4px;
        width: 100%; }
        .stb-component-scrollbar.horizontal .thumb {
            display: inline-block;
            vertical-align: top;
            height: 4px;
            min-width: 4px; }
