/* spa-app: release */
html, body {
    height: 576px;
    width: 720px;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

.invisible {
    visibility: hidden; }

/* stb-app: release */
html, body {
    -webkit-user-select: none; }

/* mag-app: release */

.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 600px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 60px;
    bottom: 24px;
    display: table;
    z-index: 10; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tbody > tr > td {
            width: 28px; }
            .mag-component-footer > table > tbody > tr > td.central {
                width: 544px; }
                .mag-component-footer > table > tbody > tr > td.central > .wrapper {
                    height: 28px;
                    visibility: inherit; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 28px;
                        padding: 0 10px 0 7.5px; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.disabled {
                            opacity: 0.3; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button .title {
                            padding-left: 5px; }
            .mag-component-footer > table > tbody > tr > td .iconImg, .mag-component-footer > table > tbody > tr > td .iconImg:before {
                height: 28px;
                line-height: 28px;
                width: 28px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tbody > tr > td .title {
                display: block;
                float: right; }

.mag-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 10;
    visibility: visible; }
    .mag-component-modal.hidden {
        display: none; }
    .mag-component-modal.hidden {
        display: table;
        visibility: hidden; }
    .mag-component-modal.active > div > div > div.overlay {
        display: none; }
    .mag-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .mag-component-modal > div > div {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 80%;
            min-width: 172.5px;
            max-height: 80%; }
            .mag-component-modal > div > div > div.header {
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                padding: 0 20px; }
                .mag-component-modal > div > div > div.header .text {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center; }
                    .mag-component-modal > div > div > div.header .text:empty {
                        padding: 0; }
            .mag-component-modal > div > div > div.body {
                position: relative; }
                .mag-component-modal > div > div > div.body > div .item {
                    height: 45px;
                    line-height: 45px;
                    padding: 0 20px; }
            .mag-component-modal > div > div > div.overlay {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }

.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 240px; }

.mag-component-panel.main.position-left {
    left: 90px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    right: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    left: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 230px;
    height: 360px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: absolute;
    z-index: 0; }
    .mag-component-panel.hidden {
        display: none; }
    .mag-component-panel > .body {
        overflow: hidden; }
    .mag-component-panel > .title {
        display: table;
        width: 100%;
        height: 45px;
        line-height: 45px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        background-repeat: repeat-x;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .mag-component-panel > .title > div {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            height: 100%; }
        .mag-component-panel > .title .name {
            max-width: 320px;
            text-transform: uppercase; }
        .mag-component-panel > .title .amountContainer {
            width: 70px; }
            .mag-component-panel > .title .amountContainer .amount {
                float: right;
                height: 18px;
                min-width: 10px;
                -webkit-border-radius: 100px;
                border-radius: 100px;
                font-size: 16.2px;
                padding: 0 4.5px;
                line-height: 21.96px; }
    .mag-component-panel .mag-component-list .item {
        height: 45px;
        line-height: 45px;
        font-size: 16.2px; }
    .mag-component-panel.main {
        width: 390px;
        top: 80px;
        left: 200px;
        height: 400px;
        z-index: 2; }
        .mag-component-panel.main .mag-component-list .item {
            height: 50px;
            line-height: 50px;
            font-size: 18px; }
        .mag-component-panel.main > .title {
            height: 50px;
            line-height: 50px;
            font-size: 24px; }
        .mag-component-panel.main.size2 {
            width: 430px; }
        .mag-component-panel.main.size3 {
            width: 430px; }
    .mag-component-panel.left {
        top: 100px;
        left: 50px; }
    .mag-component-panel.right {
        top: 100px;
        right: 50px; }
    .mag-component-panel > .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .mag-component-panel.active > .overlay {
        visibility: hidden; }
    .mag-component-panel.top {
        z-index: 3; }
    .mag-component-panel > .shadow {
        width: 10px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none; }
        .mag-component-panel > .shadow.left {
            left: -10px; }
        .mag-component-panel > .shadow.right {
            right: -10px; }
    .mag-component-panel.leftShadow > .shadow.left {
        display: block; }
    .mag-component-panel.rightShadow > .shadow.right {
        display: block; }
    .mag-component-panel.active > .shadow {
        z-index: 1; }

.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 240px; }

.mag-component-panel.main.position-left {
    left: 90px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    right: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    left: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel-set {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%; }
    .mag-component-panel-set.hidden {
        display: none; }
    .mag-component-panel-set.hidden {
        display: block !important;
        visibility: hidden; }

.stb-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .stb-component-list.hidden {
        display: none; }
    .stb-component-list > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 21.6px;
        line-height: 21.6px; }
        .stb-component-list > .item.mark {
            background-color: green;
            color: black; }
        .stb-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .stb-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .stb-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .stb-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.stb-component-page {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 720px;
    height: 576px;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .stb-component-page.hidden {
        display: none; }
    .stb-component-page.active {
        visibility: inherit; }

.stb-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #eee; }
    .stb-component-panel.hidden {
        display: none; }
