.osdPanel {
    background-color: $componentBgColor;
    color: #fff;
}
.osdFocusItem {
    background-color: $focusItemBackground;
}
.theme-favorite-icon {
    color: transparent;
}
.theme-favorite-icon-active {
    color: #ffffff;
}


.theme-launcher-color {
    color: rgba(254, 197, 0, 0.5);
    &.active {
        color: rgba(254, 197, 0, 1);
    }
}

.theme-color-warning {
    color: $colorWarning!important;
}

.theme-color-success {
    color: $colorSuccess!important;;
}

.theme-color-error {
    color: $colorError!important;;
}

body {
    //color: #fff;
}
.mag-component-list, .mag-component-layout-list, .mag-component-radio-list, .mag-component-check-list {
    .item.focus {
        .theme-icon:not(.active) {
            color : $focusItemIconColor;
        }
        .theme-icon.active {
            color: #bd590f;
        }
        .theme-subhead-color {
            color: $focusItemIconColor;
        }
        .theme-item-editable:after{
            color : $focusItemIconColor;
        }
        .theme-item-more:after{
            color : $focusItemIconColor;
        }
        .theme-text-disabled {
            color : rgba($focusItemColor, 0.8);
        }
    }
}



.component.modalMessage .list {
    .item.focus {
        background: $focusItemBackground!important;
        color: $focusItemColor!important;
    }
}



// small hack for tv app to change current epg visualization
#pageChannels .programList .item.focus .title.current:after {
    background: url('./img/epg_brown.gif') center no-repeat!important;
}
#pageChannels .programList .title.current:after{

}


@import "../node_modules/magcore-theme-base/src/main";
